name: ci-release
on:
  release:
    types:
    - created
jobs:
  build:
    runs-on: ubuntu-20.04
    env:
      APP_VERSION: ${{ github.event.release.tag_name }}
    steps:
    - uses: actions/setup-java@v2
      with:
        java-version: 11
        distribution: adopt
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - uses: actions/cache@v2
      with:
        path: |
          ~/.m2/repository
        key: ${{ runner.os }}-${{ hashFiles('**/pom.xml') }}
    - name: mvn
      run: |-
        mvn versions:set \
        --batch-mode \
        --file ./pom.xml \
        --settings ./settings.xml \
        --define newVersion="${APP_VERSION}"
        mvn clean deploy \
        --batch-mode \
        --file ./pom.xml \
        --settings ./settings.xml \
        --define app.packages.username="${APP_PACKAGES_USERNAME}" \
        --define app.packages.password="${APP_PACKAGES_PASSWORD}"
      env:
        APP_PACKAGES_USERNAME: ${{ github.actor }}
        APP_PACKAGES_PASSWORD: ${{ secrets.GITHUB_TOKEN }}
    - name: docker
      run: |-
        echo "${APP_PACKAGES_PASSWORD}" | docker login "${APP_PACKAGES_URL}" \
        --username "${APP_PACKAGES_USERNAME}" \
        --password-stdin
        docker build . \
        --file ./Dockerfile \
        --tag "${APP_PACKAGES_URL}:latest" \
        --tag "${APP_PACKAGES_URL}:${APP_VERSION}"
        docker push "${APP_PACKAGES_URL}:latest"
        docker push "${APP_PACKAGES_URL}:${APP_VERSION}"
      env:
        APP_PACKAGES_URL: docker.pkg.github.com/${{ github.repository }}/dgca-issuance-service
        APP_PACKAGES_USERNAME: ${{ github.actor }}
        APP_PACKAGES_PASSWORD: ${{ secrets.GITHUB_TOKEN }}
    - name: assets
      run: |-
        gh release upload ${APP_VERSION} \
        --clobber \
        ./target/openapi.json#openapi-${APP_VERSION}.json \
        ./target/generated-resources/licenses.xml#licenses-${APP_VERSION}.xml
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  deploy:
    runs-on: ubuntu-20.04
    environment: dev
    needs:
    - build
    env:
      APP_VERSION: ${{ github.event.release.tag_name }}
    steps:
    - name: cf setup
      run: |-
        curl -sL "https://packages.cloudfoundry.org/stable?release=${CF_RELEASE}&version=${CF_VERSION}" | \
        sudo tar -zx -C /usr/local/bin
      env:
        CF_VERSION: 7.2.0
        CF_RELEASE: linux64-binary
    - name: cf push
      run: |-
        cf api ${CF_API}
        cf auth
        cf target -o ${CF_ORG} -s ${CF_SPACE}
        cf push ${APP_NAME} --docker-image ${APP_IMAGE}:${APP_VERSION} --docker-username ${CF_DOCKER_USERNAME}
      env:
        APP_NAME: dgca-issuance-service-eu-test
        APP_IMAGE: docker.pkg.github.com/${{ github.repository }}/dgca-issuance-service
        CF_API: ${{ secrets.CF_API }}
        CF_ORG: ${{ secrets.CF_ORG }}
        CF_SPACE: ${{ secrets.CF_SPACE }}
        CF_USERNAME: ${{ secrets.CF_USERNAME }}
        CF_PASSWORD: ${{ secrets.CF_PASSWORD }}
        CF_DOCKER_USERNAME: ${{ secrets.CF_DOCKER_USERNAME }}
        CF_DOCKER_PASSWORD: ${{ secrets.CF_DOCKER_PASSWORD }}
